 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
textarea:focus, input:focus{
    outline: none;
}
body {
    background-color: #1f253d;
}   
.container {
    width: 100%;
} 
.translate {
    width: 80%;
    margin: 0 auto;
}
.wordTranlate {
    width: 50%;
}
.header-translate-app {
    text-align: center;
}
.WordSearchTranslate {
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.add-word-input {
    width: 50%;
    height: 35vh;
    background: #c2eff4;

}
.inputs {
    width: 100%;
}
input#addword {
    background: #394263;
    border: 0;
    height: auto;
    width: 95%;
    color: #fff;
    padding: 15px;
}
input:focus {
    border: 0 !important; 
}
input:focus-visible {
    border: 0 !important; 
}
.header-serach-input {
    width: 100%;
    background: #10a8ab;
    height: auto;
    border: 1px solid #10a8ab;
    color: #fff !important;
    display: flex;
    align-items: center;
}
.header-serach-input button {
    border: 0;
    padding: 15px;
    cursor: pointer;
    background: #10a8ab;
    color: #fff;
}
.show-meaning-input {
    height: 7.2vh;
    padding: 11px;
    border-bottom: 1px solid #10a8ab;
}
h3.show-meaning {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
div#tranword {
    height: 30vh;
    background: #394263;
    color: #fff;
    margin-bottom: 15px;
}
button#goToTranslate, button#cleanSearch {
    padding: 15px;
    background: #10a8ab;
    color: #fff;
    border: 1px solid #10a8ab;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
}
.historywordlocalstorage {
    margin: 0 auto;
    width: 80%;
    display: flex;
}
.resualt1,.resualt2 {
    width: 50%;
}
.header-show-history {
    color: #fff;
    background: #10a8ab;
    height: 7vh;
    padding: 15px;
}
.btn-clean {
    height: 5vh;
    background: #10a8ab;
    width: 80%;
    margin: 0 auto;
}
div#wordSearching,div#show-history {
    color: #fff;
    height: 30vh;
    background: #394263;
}
.historywordlocalstorage, .btn-clean{
    display: none;
}
h2 {
    color: #fff;
    margin-top: 15px;
    font-weight: 400;
} 
div#inputs {
    height: 30vh;
    background: #394263;
}  
p {
    font-size: 12.2px;
    line-height: 1.5;
    font-family: sans-serif;
}

#removeText{
    cursor: pointer;
    color: red;
    display: none;
}
.add-word-input {
    width: 50%;
    height: 37.2vh;
    background: #394263;
}
/*loading style*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  #loader{
      display: none;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* responsiv page */

@media only screen and (max-width: 600px) {
    .WordSearchTranslate {
        width: 100%;
        display: block;
        margin-top: 20px;
    }
    .wordTranlate {
        width: 100%;
        display: block;
    }
    .header-serach-input {
        height: 5.2vh;
    }
    h3.show-meaning {
        margin-top: 7px;
    }
    .header-serach-input button {
        padding: 20px;
    }
    div#historywordlocalstorage {
        display: block;
        display: none;

    }
    .resualt1, .resualt2 {
        width: 100%;
    }
  }
  @media only screen and (min-width: 600px) {
    .header-serach-input {
        height: 7.2vh;
    }
  }